<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jancsi_pc.playingwithsensors">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
            <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        -->
        <activity
            android:name=".activityes.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activityes.other.SplashScreenActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".stepcounter.StepCounterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityes.main.DataCollectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityes.main.AuthenticationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityes.main.ModelUploaderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityes.main.GaitValidationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityes.other.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userprofile.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userprofile.EditUserActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".userstats.ListDataFromFirebaseActivity"
            android:screenOrientation="portrait" />
        
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>